allow_hdrfrom_mismatch = true;
allow_hdrfrom_mismatch_sign_networks = true;
allow_username_mismatch = true;
sign_authenticated = true;
domain {
    {{ email_host }}.{{ email_domain }} {
        path = "/var/lib/rspamd/dkim/{{ email_host }}.{{ email_domain }}.dkim.key";
        selector = "dkim";
    }
}
use_esld = true;
use_domain = "header";
