##
## Local Modifications
##
#
# This file should include all local changes instead of modifying
# files within conf.d, which may be clobbered in package updates

##
## Local Setup
##

# DNS
auth_realms = {{ email_domain }}, {{ email_hostname }}.{{ email_domain }}
auth_default_realm = {{ email_domain }}
postmaster_address = postmaster@{{ email_domain }}

# TLS
#ssl_cert = </etc/letsencrypt/live/{{ email_hostname }}.{{ email_domain }}/fullchain.pem
#ssl_key = </etc/letsencrypt/live/{{ email_hostname }}.{{ email_domain }}/key.pem
ssl_client_ca_dir = /etc/ssl/certs
#ssl_ca = </etc/ssl/certs/webmail-client-ca-chain.pem


##
## Network Services
##

# Protocols to enable:
# - imap for MUA clients
# - lmtp for MX delivery
# - sieve for MUA filtering rules
protocols = imap lmtp sieve


##
## Postfix integration
##

# Expose SASL Auth and LMTP UNIX sockets to Postfix
service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0660
    user = postfix
  }
}
service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0660
    user = postfix
  }
}


##
## Compression
##

# Perform zlib compression of mailboxes
mail_plugins = $mail_plugins zlib
plugin {
  zlib_save = zstd
  zlib_save_level = 6
}

# Enable IMAP Compression capability
protocol imap {
  mail_plugins = $mail_plugins imap_zlib
}


##
## Sieve
##

# Sieve filtering rules for MX delivery
protocol lmtp {
  mail_plugins = $mail_plugins sieve
}
protocol lda {
  mail_plugins = $mail_plugins sieve
}
plugin {
  #?sieve = /var/mail/virtual/%d/%u/.dovecot.sieve
  #?sieve_dir = /var/mail/virtual/%d/%u/sieve
  sieve_global = /var/mail/virtual/conf.d/%d/sieve
}

##
## Security Options
##

# Reduce the privileges of the auth processes from root
# We don't need root to read /etc/dovecot/users passwd/shadow
# https://doc.dovecot.org/admin_manual/system_users_used_by_dovecot/#system-users-used-by-dovecot
service auth {
  user = $default_internal_user
}
service auth-worker {
  user = $default_internal_user
}

# Prevent local userdb interfering with system /etc/passwd
first_valid_uid = 10000

# TLS configuration from the Mozilla SSL Configuration Guide
# https://ssl-config.mozilla.org/#server=dovecot&version=2.3.21&config=intermediate&openssl=3.0.13&guideline=5.7
#
# generated 2024-07-08, Mozilla Guideline v5.7, Dovecot 2.3.21, OpenSSL 3.0.13, intermediate configuration
#
ssl = required
ssl_min_protocol = TLSv1.2
ssl_cipher_list = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305
ssl_prefer_server_ciphers = no

# Additional TLS configuration
#
# "Since v2.3.3+ Diffie-Hellman parameters have been made optional, and you are encouraged to disable non-ECC DH algorithms completely."
# The above Mozilla guide includes some "DHE-RSA" key exchange, so we should generate local DH parameters using:
# openssl gendh 4096 > /etc/dovecot/private/dh4096.pem
# ssl_dh = </etc/dovecot/private/dh4096.pem

# Obfuscate that we're using Ubuntu
login_greeting = Dovecot ready.
managesieve_implementation_string = Dovecot Pigeonhole


##
## Virtual User configuration
##
#
# IMPORTANT: You need to modify conf.d/10-auth.conf to disable
# including the default passwd databases.
#
# Use our own user and password databases
userdb {
  args = username_format=%u /etc/dovecot/users
  driver = passwd-file
  override_fields = home=/var/mail/virtual/%d/%n shell=/sbin/nologin
}
passdb {
  args = scheme=ARGON2ID username_format=%u /etc/dovecot/users
  driver = passwd-file
}

# Place mail in a MailDir inside of the virtual users's
# home directory (/var/mail/virtual/%d/%n/)
mail_location = maildir:~/mail
