##
## Local Modifications
##
#
# This file should include all local changes instead of modifying
# files within conf.d, which may be clobbered in package updates

##
## Local Setup
##

# DNS
auth_realms = {{ email_domain }}, {{ email_host }}.{{ email_domain }}
auth_default_realm = {{ email_domain }}
postmaster_address = postmaster@{{ email_domain }}

# TLS
{% if mail_dovecot_tls_cert and mail_dovecot_tls_key %}
ssl_cert = </etc/letsencrypt/live/{{ mail_email_hostname }}.{{ mail_email_domain }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ mail_email_hostname }}.{{ mail_email_domain }}/key.pem
{% elseif mail_dovecot_tls_letsencrypt %}
ssl_cert = </etc/letsencrypt/live/{{ mail_dovecot_tls_letsencrypt }}/fullchain.pem
ssl_key = </etc/letsencrypt/live/{{ mail_dovecot_tls_letsencrypt }}/key.pem
{% else %}
#ssl_cert = </etc/letsencrypt/live/{{ mail_email_hostname }}.{{ mail_email_domain }}/fullchain.pem
#ssl_key = </etc/letsencrypt/live/{{ mail_email_hostname }}.{{ mail_email_domain }}/key.pem
{% endif %}
ssl_client_ca_dir = /etc/ssl/certs
#ssl_ca = </etc/ssl/certs/webmail-client-ca-chain.pem


##
## Network Services
##

# Protocols to enable:
# - imap for MUA clients
# - lmtp for MX delivery
# - sieve for MUA filtering rules
protocols = imap lmtp sieve

{% if mail_dovecot_disable_plaintext %}
# Disable plaintext listeners
service imap-login {
  inet_listener imap {
    port = 0
  }
}
service pop3-login {
  inet_listener pop3 {
    port = 0
  }
}
service submission-login {
  inet_listener submission {
    port = 0
  }
}
service managesieve-login {
  inet_listener sieve {
    ssl = yes
  }
}
{% endif %}

##
## Postfix integration
##

# Expose SASL Auth and LMTP UNIX sockets to Postfix
service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    group = postfix
    mode = 0660
    user = postfix
  }
}
service auth {
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0660
    user = postfix
  }
}

{% if mail_dovecot_compression %}
##
## Compression
##

# Perform zlib compression of mailboxes
mail_plugins = $mail_plugins zlib
plugin {
  zlib_save = zstd
  zlib_save_level = 6
}

# Enable IMAP Compression capability
protocol imap {
  mail_plugins = $mail_plugins imap_zlib
}
{% endif %}

# Use "RAM Disk" instead of /tmp for temporary operations.
# This supposedly helps with compression operations,
# but may cause issues on system crash where /tmp,
# _may_ perform slightly better - if /tmp isn't cleared after
# a system crash.
mail_temp_dir = /dev/shm/

{% if mail_dovecot_sieve %}
##
## Sieve
##

# Sieve filtering rules for MX delivery
protocol lmtp {
  mail_plugins = $mail_plugins sieve
}
protocol lda {
  mail_plugins = $mail_plugins sieve
}
plugin {
  sieve_global = /var/mail/virtual/conf.d/%d/sieve
}
{% endif %}

##
## Security Options
##

# Reduce the privileges of the auth processes from root
# We don't need root to read /etc/dovecot/users passwd/shadow
# https://doc.dovecot.org/admin_manual/system_users_used_by_dovecot/#system-users-used-by-dovecot
service auth {
  user = $default_internal_user
}
service auth-worker {
  user = $default_internal_user
}

# Prevent local userdb interfering with system /etc/passwd
first_valid_uid = 10000
first_valid_gid = 10000

##
## TLS configuration
##

{% if mail_dovecot_disable_plaintext %}
ssl = required
{% else %}
ssl = yes
{% endif %}
ssl_min_protocol = TLSv{{ mail_dovecot_min_tls }}

{% if mail_dovecot_min_tls >= 1.3 %}
# TLS configuration from the Mozilla SSL Configuration Guide
# https://ssl-config.mozilla.org/#server=dovecot&version=2.3.21&config=modern&openssl=3.0.13&guideline=5.7
#
# generated 2025-02-16, Mozilla Guideline v5.7, Dovecot 2.3.21, OpenSSL 3.0.13, modern config
#
ssl_curve_list = {{ mail_dovecot_tls_curve_list }}
ssl_prefer_server_ciphers = no
{% else %}
# TLS configuration from the Mozilla SSL Configuration Guide
# https://ssl-config.mozilla.org/#server=dovecot&version=2.3.21&config=intermediate&openssl=3.0.13&guideline=5.7
#
# generated 2024-07-08, Mozilla Guideline v5.7, Dovecot 2.3.21, OpenSSL 3.0.13, intermediate configuration
#
ssl_cipher_list = {{ mail_dovecot_tls_cipher_list }}
ssl_prefer_server_ciphers = yes

# "Since v2.3.3+ Diffie-Hellman parameters have been made optional, and you are encouraged to disable non-ECC DH algorithms completely."
# The above Mozilla guide includes some "DHE-RSA" key exchange, so we should generate local DH parameters using:
# openssl dhparam -out /etc/dovecot/private/dh4096.pem 4096
{% if mail_dovecot_tls_diffie_hellman %}
ssl_dh = </etc/ssl/ffdhe/ffdhe4096.pem
{% else %}
# ssl_dh = </etc/ssl/ffdhe/ffdhe4096.pem
{% endif %}
{% endif %}



# Obfuscate that we're using Ubuntu
login_greeting = Dovecot ready.
managesieve_implementation_string = Dovecot Pigeonhole


##
## Virtual User configuration
##
#
# IMPORTANT: You need to modify conf.d/10-auth.conf to disable
# including the default passwd databases.
#
# Use our own user and password databases
userdb {
  args = username_format=%u /etc/dovecot/users
  driver = passwd-file
  override_fields = home=/var/mail/virtual/%d/%n shell=/sbin/nologin
}
passdb {
  args = scheme=ARGON2ID username_format=%u /etc/dovecot/users
  driver = passwd-file
}

# Place mail in a MailDir inside of the virtual users's
# home directory (/var/mail/virtual/%d/%n/)
mail_location = maildir:~/mail
